<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{{displayService}}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/email.css">
    </head>
    <body>
        {{>emailModal}}
        <div class="container">
            <div class="row bg-white form-container">
                <div class="col-12 align-self-center">
                    <div class="text-center">
                        <h1 id="service-heading">Contribute {{displayService}}</h1>
                    </div>
                    <form id="email-form" action="/otp">
                        <div class="form-group row justify-content-center">
                            <div class="col-md-4">
                                <input type="email" class="form-control" id="Email" name="Email" placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-outline-primary rounded-pill" id="email-form-submit">Send One Time Password</button>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-12 text-center">
                            <a href="#" data-toggle="modal" data-target="#emailModal">Why do I need to provide my email?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>