<div class="modal fade" role="dialog" id="emailModal">
    <div class="modal-dialog modal-dialog-centered" role="content">
        <div class="modal-content">
        <div class="modal-body">
            <div class="row">
                <div class="col-12">
                    <p>Our goal is to give our users the right information in a short period of time. Providing your email will help us to filter out spammers from messing with the information provided to users like you. Thank You !</p>
                    <div class="text-center">
                        <button class="btn btn-secondary" data-dismiss="modal">Understood!</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>