<div class="modal fade" id="phoneModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="content">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <p>If you have multiple phone numbers then please include them in the description field below. Thank you!</p>
                        <div class="text-center">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Got It</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="statusInfo" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="content">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <p>Our goal is to help users find the required resources as soon as possible. If you have verified the information provided then it might help other users to find the right contacts in a short amount of time. You can still submit the information even if it is not verified by leaving the checkbox unticked.</p>
                        <div class="text-center">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">I Understand</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="successModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="content">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Success</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <p class="text-success">Your information was recieved. We will ensure that your information reaches the needy as soon as possible.</p>
                        <div class="text-center">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>