html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    padding:1em;
}

.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 999999;
}

.spinner-border {
    position: absolute;
    top: 48%;
    left: 48%;
}

.container {
    margin-top: 20px 0px;
}

p {
    text-align: justify;
}